---
import BadgeXL from "../components/BadgeXL.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="About AcquaDev - " description="">
    <h1 class="text-5xl text-center mt-16 font-bold">
        About me
    </h1>
    <!-- Mi vision -->
    <section class="w-full my-10 mx-20 mr-auto lg:w-[720px] pt-20 pb-20">
        <BadgeXL>
            My vission
        </BadgeXL>
        <p class="text-white/80 px-5 mt-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquam magni distinctio eaque sequi consequatur a ea in enim 
            ipsa veniam amet, nihil at voluptates animi! Nemo necessitatibus pariatur maiores sequi explicabo, voluptatem doloremque quas quidem 
            iusto saepe velit amet dolorem corporis earum dolores iste numquam, aliquid animi? Suscipit maxime perferendis veniam. Maiores, 
            expedita doloribus aliquid perspiciatis dolorem vitae sit incidunt consequatur veniam minus, a officiis explicabo, aut nesciunt? 
            Voluptatum sequi, recusandae adipisci, maiores amet repellat voluptates similique qui perferendis sunt porro voluptatibus eligendi 
            ducimus quam expedita in assumenda quia ipsum tenetur facere, possimus veritatis? Earum voluptatem quos animi labore!
        </p>
    </section>

    <!-- Mi historia -->
    <section class="w-full my-10 mr-10 mx-auto lg:w-[720px] pt-20 pb-20">
        <BadgeXL>
            My history
        </BadgeXL>
        <p class="text-white/80 px-5 mt-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquam magni distinctio eaque sequi consequatur a ea in enim 
            ipsa veniam amet, nihil at voluptates animi! Nemo necessitatibus pariatur maiores sequi explicabo, voluptatem doloremque quas quidem 
            iusto saepe velit amet dolorem corporis earum dolores iste numquam, aliquid animi? Suscipit maxime perferendis veniam. Maiores, 
            expedita doloribus aliquid perspiciatis dolorem vitae sit incidunt consequatur veniam minus, a officiis explicabo, aut nesciunt? 
            Voluptatum sequi, recusandae adipisci, maiores amet repellat voluptates similique qui perferendis sunt porro voluptatibus eligendi 
            ducimus quam expedita in assumenda quia ipsum tenetur facere, possimus veritatis? Earum voluptatem quos animi labore!
        </p>
    </section>
</Layout>