---
import Layout from "../layouts/Layout.astro"
import Badges from "../components/Badge.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import YouTubeIcon from "../components/icons/YouTube.astro"
import TwitterIcon from "../components/icons/Twitter.astro"
import TimeLine from "../components/TimeLine.astro"
---

<Layout title="Portfolio AcquaDev" description="Portfolio of acquadev - Sotware Engineer. Contrata a acquadev para desarrollar aplicaciones de calidad.">
    <main>
        <!-- Primer cuadro de dialogo: Desc general de mi -->
        <section class="w-full mx-auto lg:w-[940px] pt-44 pb-20">
            <img class="rounded-full w-16 h-24 "
                src="https://i.redd.it/snoovatar/avatars/nftv2_bmZ0X2VpcDE1NToxMzdfZWI5NTlhNzE1ZGZmZmU2ZjgyZjQ2MDU1MzM5ODJjNDg1OWNiMTRmZV8zMDgyODAwOQ_rare_75acc78f-c2c1-4301-b4ec-e54109ca04fc.png"
                alt="acquaLogo"
            >
            <h1 class="text-white text-5xl font-bold flex flex-row justify-center gap-x-4 pb-4">
                    AcquaDev <a 
                    href= "https://www.linkedin.com/in/maximo-cruz-a25758258/" 
                    target="_blank"
                    rel="noopener"
                    class="flex justify-center items-center"><Badges>-Soon- Software Engineer</Badges></a>
            </h1>
            <h2 class="text-xl opacity-70 text-center ">
                0 years experiece as Multiplatform Developer.
                Experience in web applications and game development with Unity.
                Mexico City, MX. <p class="text-xs">Hire me T-T</p>
            </h2>
            <img class="w-3 h-3 mx-auto" src="/src/img/image.png" alt="yo si no me contratan">
            <nav class="flex gap-x-2 items-center justify-center">
                <SocialPill href="https://www.linkedin.com/in/maximo-cruz-a25758258/">
                    <LinkedInIcon class="size-6">
                        LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/MaximoCrz056">
                    <GitHubIcon class="size-6">
                        GitHub
                </SocialPill>
                <SocialPill href="https://www.youtube.com/channel/UCdxD9XuQRRgnJMF28GnP1pA">
                    <YouTubeIcon class="size-6 pt-1">
                        YouTube
                </SocialPill>
                <SocialPill href="https://twitter.com/Acqua__0">
                    <TwitterIcon class="size-6">
                        Twitter
                </SocialPill>
            </nav>
            <hr class="border-gray-200 dark:border-gray-700 my-5 mx-auto lg:w-[480px]">
        </section>

        <!-- Mis proyectos -->
        <section class="w-full mx-auto lg:w-[720px]">
            <TimeLine>
                <div class="ml-64">
                    <Badges>
                        Latest
                    </Badges>
                </div>
            </TimeLine>
            <a href="/proyects" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    See more
                </span>
            </a>
        </section>
    </main>
</Layout>