---

---

<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img class="rounded-full w-16 h-24 "
    src="https://i.redd.it/snoovatar/avatars/nftv2_bmZ0X2VpcDE1NToxMzdfZWI5NTlhNzE1ZGZmZmU2ZjgyZjQ2MDU1MzM5ODJjNDg1OWNiMTRmZV8zMDgyODAwOQ_rare_75acc78f-c2c1-4301-b4ec-e54109ca04fc.png"
    alt="acquaLogo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="">About</a>
        <a href="">Proyects</a>
        <a href="">Contact</a>
    </nav>
</header>