---

---

<header class="sticky top-0 z-50">
    <nav class="flex justify-center items-center py-5 w-[90%] xl:w-[40%] lg:text-lg text-sm mx-auto bg-indigo-950 bg-opacity-95 rounded-3xl mt-1">
        <div class="flex flex-row xl:gap-x-10 gap-x-5 text-white/50">
            <a href="#top" class="hover:text-white/100">Home</a>
            <a href="#proyects"class="hover:text-white/100">Proyects</a>
            <p>|</p>
            <a href="/about" class="hover:text-white/100">About me</a>
            <a href="/contact" class="hover:text-white/100">Contact</a>
        </div>
    </nav>
</header>
