---

---

<header class="sticky top-0 z-50">
    <nav class="flex justify-center items-center py-5 w-full xl:w-[40%] mx-auto bg-indigo-950 bg-opacity-95 rounded-3xl mt-1">
        <div class="flex flex-row gap-x-10 text-white/50">
            <a href="/" class="hover:text-white/100">Home</a>
            <a href="/"class="hover:text-white/100">Proyects</a>
            <p>|</p>
            <a href="/about" class="hover:text-white/100">About me</a>
            <a href="/contact" class="hover:text-white/100">Contact</a>
        </div>
    </nav>
</header>
