<a
    {...Astro.props}
    class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-1 px-4 lg:py-2 lg:px-8 bg-white/5 mt-3"
    target="_blank"
    rel="noopener"
>
    <slot/>
</a>