---
import TimeLineItem from "../components/TimeLineItem.astro"
const EXPERIENCE = [
    {
        date: 'Released on April 25th, 2024',
        title: 'Portfolio of AcquaDev',
        description: 'All of the pages and components are first designed in Figma and keep a parity between the two versions even as i update the project.',
        link: 'https://github.com/MaximoCrz056/acquadev-portfolio',
    },
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
    <slot/>
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-6">
                <TimeLineItem {...experience} />
            </li>
        ))
    }
</ol>