---
import SecondaryHeader from '../components/SecondaryHeader.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/ibm-plex-mono';



interface Props {
    title: string;
    description: string;
}
const {title, description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={description}>
    <title>{title}</title>
</head>
<body class="relative h-full w-full bg-slate-950 bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]">
    <SecondaryHeader></SecondaryHeader>
    <slot/>
    <Footer>
</body>
</html>

<style is:global>
    :root {
        color-scheme: light dark;
    }

    html {
        font-family: 'IBM Plex Mono', monospace;
        scroll-behavior: smooth;
    }

    body {
        background-color: #0c0c0c;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    @media (prefers-reduced-motion: reduce){
        html {
            scroll-behavior: auto;
        }
    }
</style>